{
    "env": {
        "node": true,
        "es6": true,
        "jest": true
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "no-undef": ["error", { "typeof": true }]
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    }
}
