name: Node CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      CI: true
      node_version: 12.x
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.NODE_VERSION }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.NODE_VERSION }}
      - name: Install Dependencies
        run: npm ci
      - name: Linting
        run: npm run lint
      - name: Unit testing
        run: npm test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.3
        with:
          token: ${{secrets.CODECOV_TOKEN}}